<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="about:blank">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    {{#refresh}}
        <meta http-equiv="refresh" content="10">
    {{/refresh}}
    <title>Opacra Block Explorer{{#testnet}} (testnet){{/testnet}}{{#stagenet}} (stagenet){{/stagenet}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer">
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
    <style type="text/css">
        {{#css_styles}}{{/css_styles}}
    </style>

</head>
<body>
<div>

    <div class="center">
        <h1 class="center brand"><a href="/">Opacra Block Explorer</a>{{#testnet}} <span class="net">testnet</span>{{/testnet}}{{#stagenet}} <span class="net">stagenet</span>{{/stagenet}}</h1>
        <h4 style="font-size: 15px; margin: 0px">No JavaScript, no cookies, no trackers. Open source.</h4>
    </div>


    <div class="center">
        <form action="/search" method="get" style="width:100%; margin-top:15px" class="style-1">
            <input type="text" name="value" size="120"
                   placeholder="Block height, block hash or transaction hash">
            <input type="submit" value="Search">
        </form>
    </div>

</div>
